<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
  <form class="contact-form">
    <input type="text" placeholder="Digite seu nome"/>
    <input type="tel" placeholder="(00) 0000-0000"/>
    <input type="email" placeholder="Digite seu e-mail"/>
    <textarea maxlength="300" placeholder="Digite sua mensagem"></textarea>
    <button>Enviar</button>
  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3462.8494976911907!2d-51.15049829790169!3d-29.7819930987546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951968f702939c21%3A0xe762dfbc33df582d!2sAmbiente%20S9!5e0!3m2!1spt-BR!2sbr!4v1691691000021!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. Pandiá Calógeras, 581 - Cristo Rei, São Leopoldo - RS, 93020-370</p>
  </address>
</section>
