<h2 class="cart-title">Carrinho</h2>
<div>
  <ul>
    <li *ngFor="let cartItem of cartItems">
      <img [src]="cartItem.image"/>
      <p>{{cartItem.description}}</p>
      <p>Preço: {{cartItem.price | currency: 'BRL'}} </p>
      <label>
        <input type="number" [(ngModel)]="cartItem.purchaseQuantity">
        <button class="remove-button"><i class="fa-solid fa-xmark"></i></button>
      </label>
    </li>
  </ul>
  <h2 class="cart-total">Total: </h2>
  <button class="buy-button"></button>
</div>
